{% extends 'ImhBaseBundle::layout.html.twig' %}

{% block title %}{{ 'imh.base.biography.page_title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/lib/owl-carousel/owl.carousel.css') }}" type="text/css" />

    {% stylesheets output='assets/compiled/css/biography.css' filter='compass, cssrewrite'
        '@ImhBaseBundle/Resources/assets/sass/page/biography.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block main %}

    {#<img class="imh__bkg-image lazy" data-original="{{ asset('bundles/imhbase/images/strings.jpg') }}" alt="" />
    <noscript><img src="{{ asset('bundles/imhbase/images/strings.jpg') }}" alt="Harp strings"></noscript>#}

    <div class="container imh-container">
        <div class="imh-container--wrapper imh-container--shadows">
            <section class="imh__section imh__biography">
                {% spaceless %}
                    {% if isMobileDevice %}
                        <div class="imh__mobile-cover">

                        </div>
                        <div class="col-xs-24">
                            <div class="hidden-md">
                                <div class="o-vertical-interval-medium">
                                    {% embed 'ImhBaseBundle:Components:title-secondary.html.twig' with {
                                        'titleSecondaryInside': {'modifierClasses': 'c-title-secondary__inside--ultralight'}
                                    }%}
                                        {% block title %}
                                            {{ 'imh.base.biography.main_section-title'|trans }}
                                        {% endblock %}
                                    {% endembed %}
                                </div>
                            </div>

                            <div class="imh__biography-text">
                                {{ 'imh.base.biography.main_text-section1'|trans|raw }}
                                {#<img class="visible-xs imh__image-painting img-responsive" src="../../bundles/imhbase/images/painting.jpg" alt="Painting" />#}
                                {{ 'imh.base.biography.main_text-section2'|trans|raw }}
                                {#<img class="visible-xs imh__image-enmp img-responsive" src="../../bundles/imhbase/images/enmp.jpg" alt="ENMP" />#}
                                {{ 'imh.base.biography.main_text-section3'|trans|raw }}
                            </div>
                        </div>
                    {% else %}
                        <div class="col-xs-24 col-sm-10 col-md-10">
                            <div class="imh__carousel owl-carousel" data-carousel>
                                {% for i in range(1,2) %}
                                    <div class="item"><img class="owl-lazy" data-src="{{ asset('bundles/imhbase/images/bio_0'~i~'.jpg') }}" alt="" /></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-24 col-sm-14 col-md-14">
                            <div class="imh__biography-scrollbar" data-scrollbar>
                                <div class="handle">
                                    <div class="mousearea"></div>
                                </div>
                            </div>
                            <div class="imh__biography-text" data-text>
                                <div class="frame">
                                    <div class="slidee">
                                        {{ 'imh.base.biography.main_text-section1'|trans|raw }}
                                        {{ 'imh.base.biography.main_text-section2'|trans|raw }}
                                        {{ 'imh.base.biography.main_text-section3'|trans|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}

                {% endspaceless %}
            </section>
            <section class="imh__section imh__prizes closed" data-prizes>
                <div class="col-xs-24">
                    <h2 class="imh__prizes-slider-title" data-prizes-title>{{ 'imh.base.biography.prizes.title'|trans }}</h2>
                    <ul class="imh__prizes-slider-content" data-prizes-content>
                        {{ 'imh.base.biography.prizes.list'|trans|raw }}
                    </ul>
                </div>
            </section>
            <section class="imh__section imh__download hidden-xs">
                <div class="col-xs-24">
                    <h2 class="imh__prizes-slider-title visible-xs">{{ 'imh.base.biography.download'|trans }}</h2>
                </div>
                {#<div class="col-xs-24">
                    <div class="imh__download-button">
                        #}{#<a class="bio" href="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}"><img class="empty" src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" /></a>#}{#
                        <a href="" class="imh__download-link" title="{{ 'imh.base.biography.download'|trans }}">
                            <svg class="icon icon--download"><use xlink:href="#svg-download"></use></svg>
                        </a>
                    </div>
                </div>#}
            </section>
        </div>
    </div>
{% endblock %}

{#{% block sidebar %}
    {% if not isTouchDevice %}
        {% embed "ImhBaseBundle:Part:sidebar.html.twig" %}
            {% block menu_navigation %}
                <div class="imh__navigation-menu">
                    {{ knp_menu_render('main', {'currentAsLink':false}) }}
                </div>
            {% endblock %}

            {% block menu_gallery '' %}
        {% endembed %}
    {% endif %}
{% endblock %}#}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='assets/compiled/js/biography.js'
    'assets/lib/owl-carousel/owl.carousel.min.js'
    '@ImhBaseBundle/Resources/public/bower_components/sly/dist/sly.min.js'
    '@ImhBaseBundle/Resources/assets/js/jquery.imh.scrollmove.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function () {
            'use strict';

            var $carousel    = $('[data-carousel]'),
                $text        = $('[data-text]'),
                $scrollbar   = $('[data-scrollbar]'),
                $prizes      = $('[data-prizes]'),
                $sT          = $('[data-prizes-title]'),
                $sC          = $('[data-prizes-content]'),
                h            = $sC.height(),
                cssReady     = 'ready',
                cssClosed    = 'closed',
                isVisible    = false,
                sly;

            $sC.css('max-height', 0);

            $sT.on('click', function (e) {
                $prizes.toggleClass(cssClosed);
                $prizes.hasClass(cssClosed) ? $sC.css('max-height', 0) : $sC.css('max-height', h);
                e.preventDefault();
            });

            if (!Modernizr.touchevents) {
                $('[data-sidebar]').scrollMove(); // Menu plugin
            } else {
                $sT.removeClass(cssClosed).trigger('click').off(); // Open prizes menu on mobile / tablet
                $("[data-menumobile]").data("plugin_imhMenuMobile").makeMenuVisible(); // Call public plugin method
            }

            if (Modernizr.mq('(min-width: 768px)')) { //
                sly = new Sly($text, {
                    scrollBy: 250,
                    speed: 1000,
                    easing: 'easeOutQuad',
                    scrollBar: $scrollbar,
                    //dynamicHandle: 1,
                    dragHandle: 1,
                    clickBar: 1,
                    mouseDragging: 1,
                    touchDragging: 1,
                    releaseSwing: 1,
                    scrollTrap: 1
                });

                $carousel.owlCarousel({
                    items: 1,
                    lazyLoad: true
                });

                $(document).on('loaded.owl.lazy', $carousel, function(event) {
                    recalcHeight(isVisible);
                    $carousel.addClass(cssReady);
                    var ctrls = $('.owl-controls');
                    ctrls.css('marginLeft', -(ctrls.width()/2) + 'px');
                    sly.init();
                });

                // add/remove shadow from text
                sly.on('move', function () {
                    if(this.pos.cur == this.pos.end) {
                        $text.addClass('no-shadow');
                    } else {
                        $text.removeClass('no-shadow');
                    }
                });

                var recalcHeight = function(isVisible) {
                    var $elts = $('.loading, .imh__biography-text, .imh__biography-scrollbar');
                    $elts.height($('.item').height());
                    if(!isVisible) $elts.css('visibility', 'visible');
                };

                var delay = (function(){
                    var timer = 0;
                    return function(callback, ms){
                        clearTimeout (timer);
                        timer = setTimeout(callback, ms);
                    };
                })();

                $(window).on('resize', function () {
                    delay(function(){
                        recalcHeight(isVisible = true);
                        sly.reload();
                    }, 500);
                });
            }
        });
    </script>
{% endblock %}