{% extends 'ImhBaseBundle::layout.html.twig' %}

{% block title %}{{ 'imh.base.biography.page_title'|trans }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/assets/lib/owl-carousel/owl.carousel.css') }}" type="text/css" />

    {% stylesheets output='assets/compiled/css/biography.css' filter='compass, cssrewrite'
        '@ImhBaseBundle/Resources/assets/sass/page/biography.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block main %}

    {#<img class="imh__bkg-image lazy" data-original="{{ asset('bundles/imhbase/images/strings.jpg') }}" alt="" />
    <noscript><img src="{{ asset('bundles/imhbase/images/strings.jpg') }}" alt="Harp strings"></noscript>#}

    <div class="container imh-container">
        <div class="imh-container--wrapper imh-container--shadows">
            <section class="imh__section imh__biography">
                {% spaceless %}

                        <div class="o-vertical-interval-large">
                            {% embed 'ImhBaseBundle:Components:title-secondary.html.twig' %}
                                {% block title %}
                                    {{- 'imh.base.biography.main_section-title'|trans -}}
                                {% endblock %}
                            {% endembed %}
                        </div>
                        <div class="col-xs-24 col-sm-10 col-md-10">
                            <div class="imh__carousel owl-carousel" data-carousel>
                                {% for i in range(1,2) %}
                                    <div class="item"><img class="owl-lazy" data-src="{{ asset('bundles/imhbase/images/bio_0'~i~'.jpg') }}" alt="" /></div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="col-xs-24 col-sm-14 col-md-14">
                            <div class="imh__biography-scrollbar" data-scrollbar>
                                <div class="handle">
                                    <div class="mousearea"></div>
                                </div>
                            </div>
                            <div class="imh__biography-text" data-text>
                                <div class="frame">
                                    <div class="slidee">
                                        {{ 'imh.base.biography.main_text-section1'|trans|raw }}
                                        {{ 'imh.base.biography.main_text-section2'|trans|raw }}
                                        {{ 'imh.base.biography.main_text-section3'|trans|raw }}
                                    </div>
                                </div>
                            </div>
                        </div>


                {% endspaceless %}
            </section>
            <section class="imh__section imh__prizes closed" data-prizes>
                <div class="col-xs-24">
                    <h2 class="imh__prizes-slider-title" data-prizes-title>{{ 'imh.base.biography.prizes.title'|trans }}</h2>
                    <ul class="imh__prizes-slider-content" data-prizes-content>
                        {{ 'imh.base.biography.prizes.list'|trans|raw }}
                    </ul>
                </div>
            </section>
            <section class="imh__section imh__download hidden-xs">
                <div class="col-xs-24">
                    <h2 class="imh__prizes-slider-title visible-xs">{{ 'imh.base.biography.download'|trans }}</h2>
                </div>
                {#<div class="col-xs-24">
                    <div class="imh__download-button">
                        #}{#<a class="bio" href="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}"><img class="empty" src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" /></a>#}{#
                        <a href="" class="imh__download-link" title="{{ 'imh.base.biography.download'|trans }}">
                            <svg class="icon icon--download"><use xlink:href="#svg-download"></use></svg>
                        </a>
                    </div>
                </div>#}
            </section>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}



{% endblock %}