{% extends 'ImhBaseBundle::layout.html.twig' %}

{% block title %}{{ 'imh.base.contact.page_title'|trans }}{% endblock%}

{% block stylesheets %}
    {% stylesheets output='assets/compiled/css/contact.css' filter='compass, cssrewrite'
    '@ImhBaseBundle/Resources/assets/sass/page/contact.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}
{% endblock %}

{% block flashes %}
    {% for flash in app.session.flashbag.get('success') %}
        <div class="flashbag-message">
            <div class="flashbag-message-content">
                <div class="top">
                    <p>Information</p>
                    <a class="close" data-dismiss="alert" href="#">×</a>
                </div>
                <p class="msg">{{ flash|trans }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block main %}
    <div class="container imh-container">
        <section class="imh-container--wrapper imh-container--shadows">
            <div class="row">
                <div class="col-xs-24">
                    <div class="o-vertical-interval-large">
                        {% embed 'ImhBaseBundle:Components:title-secondary.html.twig' %}
                            {% block title %}
                                {{- 'imh.base.contact.main_section-title'|trans -}}
                            {% endblock %}
                        {% endembed %}
                    </div>
                    <div class="o-vertical-interval-top-medium">
                        {% embed 'ImhBaseBundle:Components:sub-title.html.twig' %}
                            {% block sub_title %}
                                {{- 'imh.base.contact.answer'|trans|raw -}}
                            {% endblock %}
                        {% endembed %}
                    </div>
                </div>
                <div class="col-xs-24 ">
                    <div class="o-vertical-interval-bottom-medium"></div>

                    {{ form_start(form, {'attr': {'class': 'imh__contact-form'}}) }}
                    {{ form_errors(form) }}

                    <div class="row">
                        <div class="col-xs-24 col-sm-12">
                            <div class="o-vertical-interval-bottom">
                                {{ form_label(form.firstName, null, {'label_attr': {'class': 'c-field-label'}}) }}
                                {{ form_errors(form.firstName) }}
                                {{ form_widget(form.firstName, { 'attr': {'class': 'c-field-text'} }) }}
                            </div>
                            <div class="o-vertical-interval-bottom">
                                {{ form_label(form.lastName, null, {'label_attr': {'class': 'c-field-label'}}) }}
                                {{ form_errors(form.lastName) }}
                                {{ form_widget(form.lastName, { 'attr': {'class': 'c-field-text'} }) }}
                            </div>
                            <div class="o-vertical-interval-bottom">
                                {{ form_label(form.email, null, {'label_attr': {'class': 'c-field-label'}}) }}
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email, { 'attr': {'class': 'c-field-text'} }) }}
                            </div>
                            <div class="o-vertical-interval-bottom">
                                {{ form_label(form.subject, null, {'label_attr': {'class': 'c-field-label'}}) }}
                                {{ form_errors(form.subject) }}
                                {{ form_widget(form.subject, { 'attr': {'class': 'c-field-text'} }) }}
                            </div>
                        </div>
                        <div class="col-xs-24 col-sm-12">
                            {{ form_label(form.message, null, {'label_attr': {'class': 'c-field-label'}}) }}
                            {{ form_errors(form.message) }}
                            {{ form_widget(form.message, { 'attr': {'class': 'c-field-textarea'} }) }}
                        </div>
                    </div>

                    <div class="o-vertical-interval-bottom-large"></div>

                    <div class="row">
                        <div class="col-xs-24 u-text-center@sm-min">
                            {{ form_widget(form.send, { 'attr': {'class': 'c-field-button c-field-button--big'} }) }}
                        </div>
                    </div>

                    {{ form_end(form) }}
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block sidebar '' %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='assets/compiled/js/contact.js'
        '@ImhBaseBundle/Resources/assets/js/jquery.imh.scrollmove.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function () {
            'use strict';

            if (Modernizr.touchevents) {
                $("[data-menumobile]").data("plugin_imhMenuMobile").makeMenuVisible(); // Call public plugin method
            }

            $('#content').contentHeightAdjust();

            /* Flashbag Popin */
            var flashbag = 'flashbag-message',
                $close   = $('.close');

            $('.' + flashbag).fadeIn(600);

            $close.on('click', function(e) {
                $(this).parents('.' + flashbag).fadeOut(400);
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
