{% extends 'ImhBaseBundle::layout.html.twig' %}

{% block title %}{{ 'imh.base.repertoire.page_title'|trans }}{% endblock%}

{% block stylesheets %}
    {% stylesheets output='assets/compiled/css/repertoire.css' filter='compass, cssrewrite'
        '@ImhBaseBundle/Resources/assets/sass/page/repertoire.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block main %}
    {#<img class="imh__bkg-image lazy" data-original="{{ asset('bundles/imhbase/images/strings.jpg') }}" />
    <noscript><img src="{{ asset('bundles/imhbase/images/strings.jpg') }}" alt="Harp strings"></noscript>#}

    <div class="container imh-container">
        <div class="imh-container--wrapper imh-container--shadows">
            <section class="imh-repertoire">
                <div class="o-vertical-interval-large">
                    {% embed 'ImhBaseBundle:Components:title-secondary.html.twig' %}
                        {% block title %}
                            {{ 'imh.base.repertoire.main_section-title'|trans }}
                        {% endblock %}
                    {% endembed %}
                </div>
                {% include 'ImhBaseBundle:Components:picture-block.html.twig' %}
            </section>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% if not isTouchDevice %}
        {% embed "ImhBaseBundle:Part:sidebar.html.twig" %}
            {% block menu_navigation %}
                <div class="imh__navigation-menu">
                    {{ knp_menu_render('main', {'currentAsLink':false}) }}
                </div>
            {% endblock %}

            {% block menu_gallery '' %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='assets/compiled/js/repertoire.js'
    '@ImhBaseBundle/Resources/assets/js/jquery.imh.scrollmove.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function () {
            "use strict";

            $("#content").contentHeightAdjust();

            if (!Modernizr.touchevents) {
                $("[data-sidebar]").scrollMove(); // Menu plugin
            } else {
                $("[data-menumobile]").data("plugin_imhMenuMobile").makeMenuVisible(); // Call public plugin method
            }
        });
    </script>
{% endblock %}