{% extends 'ImhBaseBundle::layout.html.twig' %}

{% block contentSecurityPolicyTag %}
    <meta http-equiv="Content-Security-Policy" content="default-src https://www.youtube.com/player_api; child-src 'none'; object-src 'none'">
{% endblock %}

{% block facebookOpenGraphTags %}
    <meta property="og:title" content="{{ media.name }}">
    <meta property="og:site_name" content="Ionella Marinutsa | Harpist">
    <meta property="og:url" content="{{ app.request.getSchemeAndHttpHost() }}{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}">
    <meta property="og:description" content="{{ media.description }}" />
    <meta property="og:image" content="https://i.ytimg.com/vi/{{ providerRef }}/hqdefault.jpg">

    <meta property="og:type" content="video">
    <meta property="og:video" content="https://www.youtube.com/embed/{{ providerRef }}">
    <meta property="og:video:secure_url" content="https://www.youtube.com/embed/{{ providerRef }}">
    <meta property="og:video:width" content="640" />
    <meta property="og:video:height" content="360" />
    <meta property="og:video:type" content="application/x-shockwave-flash" />

    <meta property="fb:app_id" content="761674913903863" />
{% endblock %}

{% block title %}{{ 'sonata.media.video.page_title'|trans }} ~ {{ media.name }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets output='assets/compiled/css/video.css' filter='compass, cssrewrite'
        '@ApplicationSonataMediaBundle/Resources/assets/sass/video.scss'
        '@ImhBaseBundle/Resources/assets/sass/jquery.nouislider.scss'
    %}

    {#'@ApplicationSonataCommentBundle/Resources/assets/sass/comments.scss'#}

    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block facebookSDK %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId   : '761674913903863',
                xfbml   : false,
                version : 'v2.2'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // for custom facebook share button
        function postToShare(href){
            var obj = {
                method: 'share',
                mobile_iframe: true,
                href: href
            };
            FB.ui(obj, function(response){});
        }
    </script>
{% endblock %}

{% block main %}
    <img class="imh__bkg-image lazy" data-original="{{ asset('bundles/imhbase/images/notes.jpg') }}" />
    <noscript><img src="{{ asset('bundles/imhbase/images/notes.jpg') }}" alt="Score"></noscript>

    <div class="container imh-container">
        <section class="imh-container--wrapper imh-container--shadows imh-container--gradient">
            {#<a class="bio" href="{{ path('sonata_media_download', {'id': media|sonata_urlsafeid }) }}">
                <img class="empty" src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />
                download media
            </a>#}
            
            <div class="media-content">
                <div class="media">
                    {% media media, 'big' %}
                    <div class="layer">
                        <a href="#" title="{{ media.name }}">
                            <button class="imh__media-button-play" data-play></button>
                            <img class="media-image" src="{% path media, 'big' %}" />
                        </a>
                    </div>
                </div>
                {% spaceless %}
                <div class="imh-video-progress-bar-wrapper" data-progress-bar-wrapper>
                    <div class="imh-video-progress-bar" data-progress-bar>
                        <div class="imh-video-progress-bar-buffer" data-buffer>
                            <div class="imh-video-progress-bar-advancement" data-advancement></div>
                        </div>
                    </div>
                    <span class="imh-video-progress-bar-time" data-time-control>
                        <span data-current>00:00 /</span>&nbsp;<span data-total>00:00</span>
                    </span>
                </div>
                {% endspaceless %}
                {#<aside class="actions">
                    <ul>
                        <li class="display"><a href="#"><img class="empty" src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />{{ 'sonata.media.video.display'|trans }}</a></li>
                        <li class="like"><a href="#"><img class="empty" src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />{{ 'sonata.media.video.like'|trans }}</a></li>
                        <li class="download"><a href="#"><img class="empty" src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />{{ 'sonata.media.video.download'|trans }}</a></li>
                    </ul>
                </aside>#}
            </div>

        </section>

        <section class="imh__player-bar">
            {% spaceless %}
            <div class="col-xs-8 col-sm-5 col-md-5 imh__player-bar-views">
                <span class="imh__player-bar-views-nb">{{ options.count }}</span>
                <span class="imh__player-bar-text imh__player-bar-text--indent">{% if not isTouchDevice %}{{ 'sonata.media.video.total_views'|trans|raw }}{% else %}{{ 'sonata.media.video.views'|trans }}{% endif %}</span>
            </div>
            <nav class="col-xs-8 col-sm-6 col-md-5 imh__player-bar-controls">
                <ul>
                    <li class="play-pause">
                        <a href="#" title="" data-play-pause-btn>
                            <i class="fa fa-play" aria-hidden="true" data-play-pause-picto></i>
                            Play
                        </a>
                    </li>
                    <li class="volume">
                        <div class="wrap-level">
                            <div class="level" data-volume-level>
                                <div class="level__bkg"></div>
                                <div class="slider" data-volume-slider></div>
                            </div>
                        </div>
                        <a href="#" title="Volume" data-volume-btn>
                            <i class="fa fa-volume-down" aria-hidden="true" data-volume-picto></i>
                            Vol.
                        </a>
                    </li>
                    <li class="hidden-xs fullscreen">
                        <a href="#" title="Fullscreen" data-fullscreen-btn>
                            <i class="fa fa-expand" aria-hidden="true"></i>
                            Fullscreen
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="col-xs-8 col-sm-5 col-sm-push-9 col-md-5 imh__player-bar-share">
                <span class="hidden-xs imh__player-bar-text">{{ 'sonata.media.video.share'|trans|raw }}</span>
                <span class="fa-stack fa-2x">
                    <a class="icon fbshare" href="https://www.youtube.com/embed/{{ providerRef }}" data-fb-share>
                        <i class="fa fa-circle fa-inverse fa-stack-2x hidden-xs"></i>
                        <i class="fa fa-facebook fa-stack-1x" aria-hidden="true"></i>
                    </a>
                </span>
                <span class="fa-stack fa-2x">
                    <a class="icon twitter popup" href="http://twitter.com/share?url=https://www.youtube.com/embed/{{ providerRef }}&text={{ media.name }}" data-tw>
                        <i class="fa fa-circle fa-inverse fa-stack-2x hidden-xs"></i>
                        <i class="fa fa-twitter fa-stack-1x" aria-hidden="true"></i>
                    </a>
                </span>
            </div>
            <div class="col-xs-24 col-sm-8 col-sm-pull-5 col-md-9 imh__player-bar-info">
                {% if media.description != "" %}<h3 class="imh__player-bar-info-description">{{ media.description }}</h3>{% endif %}
                <p class="imh__player-bar-info-name">{{ media.name }}</p>
            </div>
            {% endspaceless %}
        </section>

        <div class="imh__media-gallery-wrapper">
            <div class="imh__media-gallery" data-media-gallery>
                <!-- AJAX content -->
            </div>
            <i class="c-spinner c-spinner--black" aria-hidden="true" data-spinner></i>
        </div>
    </div>

    {#{% include 'ApplicationSonataCommentBundle:Comment:view.html.twig' %}#}
{% endblock %}

{% block sidebar %}
    {% if not isTouchDevice %}
        {% embed "ImhBaseBundle:Part:sidebar.html.twig" %}
            {% block menu_navigation %}
                <div class="imh__navigation-menu">
                    {{ knp_menu_render('main', {'currentAsLink':false}) }}
                </div>
            {% endblock %}

            {% block menu_gallery '' %}
        {% endembed %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts output='assets/compiled/js/video.js'
    '@ImhBaseBundle/Resources/assets/js/screenfull.js'
    '@ImhBaseBundle/Resources/public/bower_components/sly/dist/sly.min.js'
    '@ApplicationSonataMediaBundle/Resources/assets/js/svg/imh-audio.js'
    '@ApplicationSonataMediaBundle/Resources/assets/js/jquery.imh-player.js'
    '@ImhBaseBundle/Resources/assets/js/jquery.imh.scrollmove.js'
    '@ImhBaseBundle/Resources/assets/js/jquery.nouislider.js'
    '@ImhBaseBundle/Resources/assets/js/twitter.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        $(function () {
            'use strict';

            var $mediaGallery = $('[data-media-gallery]'),
                $spinner      = $('[data-spinner]'),
                $fb           = $('[data-fb-share]'),
                $tw           = $('[data-tw]');

            $('img.lazy').show().lazyload({
                effect : 'fadeIn',
                placeholder: '../../../../bundles/imhbase/images/empty.gif'
            });

            if (!Modernizr.touchevents) {
                $('.navigation-menu').scrollMove(); // Menu plugin
            }

            $.ajax({
                type: 'GET',
                dataType: 'html',
                url: Routing.generate('sonata_media_view_all', {
                    _locale: '{{ app.request.locale }}',
                    id: {{ app.request.get('id') }}
                }),
                success: function (data) {
                    var loadedImg = [],
                        img = $(data).find('[data-img]'),
                        totalImg = img.length;

                    img.each(function(i) {
                        $(this).on('load', function() {
                            loadedImg.push(i);
                            if (totalImg === loadedImg.length) {
                                $spinner.fadeOut(500, function () {
                                    $mediaGallery.empty().append(data).addClass('is-loaded');
                                    loadSly();
                                });
                            }
                        });
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) { // will fire when timeout is reached
                    $spinner.fadeOut(500, function() {
                        $mediaGallery.addClass('is-loaded')
                                     .append('<p class="imh__ajax-error text-center">An error occurred : <strong>'
                                            + errorThrown +
                                            '</strong>. Please try again later.</p>');
                    });
                },
                timeout: 60000 // 1 min
            });

            function loadSly() {

                var $frame     = $('[data-frame]'),
                    $scrollbar = $('[data-scrollbar]'),
                    $prev      = $('[data-prev]'),
                    $next      = $('[data-next]'),
                    activePos  = $frame.find('li[data-active]').index(),
                    touch      = Modernizr.touchevents,

                    delay = (function () {
                        var timer = 0;
                        return function (callback, ms) {
                            clearTimeout(timer);
                            timer = setTimeout(callback, ms);
                        };
                    })(),

                    sly = new Sly($frame, {
                        horizontal: 1,
                        itemNav: touch ? 'forceCentered' : 'centered',
                        activateMiddle: touch ? 1 : 0,
                        smart: 1,
                        scrollSource: $(".slidee"),
                        //activateOn: 'click',
                        mouseDragging: 1,
                        touchDragging: 1,
                        releaseSwing: 1,
                        startAt: activePos,
                        scrollBar: $scrollbar,
                        scrollBy: 1,
                        speed: 1000,
                        moveBy: 50,
                        elasticBounds: 1,
                        dragHandle: 1,
                        //dynamicHandle: 1,
                        clickBar: 1,

                        // Buttons
                        prev: $prev,
                        next: $next
                    }).init();

                $(window).on('resize', function () {
                    delay(function () {
                        sly.reload();
                    }, 500);
                });
            }

            // Social buttons
            $fb.on('click', function(e) {
                var href = $(this).attr('href');
                postToShare(href);
                e.preventDefault();
            });

            $tw.on('click', function(e) {
                e.preventDefault();

                var width  = 575,
                    height = 400,
                    left   = ($(window).width()  - width)  / 2,
                    top    = ($(window).height() - height) / 2,
                    url    = this.href,
                    opts   = 'status=1' +
                            ',width='  + width  +
                            ',height=' + height +
                            ',top='    + top    +
                            ',left='   + left;

                window.open(url, 'twitter', opts);
            });
        });
    </script>
{% endblock %}


