{% extends '::full-layout.html.twig' %}

{% block title %}{{ 'sonata.media.gallery.page_title'|trans }}{% endblock %}

{% block stylesheets %}
    {% stylesheets output='assets/compiled/css/gallery.css' filter='compass, cssrewrite'
        '@ApplicationSonataMediaBundle/Resources/assets/sass/gallery.scss'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css"/>
    {% endstylesheets %}
{% endblock %}

{% block facebookSDK %}
    <div id="fb-root"></div>
    <script type="text/javascript">
        window.fbAsyncInit = function() {
            FB.init({
                appId   : '761674913903863',
                xfbml   : true,
                version : 'v2.2'
            });
        };

        (function(d, s, id){
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {return;}
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/fr_FR/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));

        // for custom facebook share button
        function postToShare(href){
            var obj = {
                method: 'share',
                href: href
            };
            FB.ui(obj, function(response){});
        }
    </script>
{% endblock %}

{% block header %}
    {% if isTouchDevice %}{{ parent() }}{% endif %}
{% endblock %}

{% block main %}
    <div class="imh__gallery-wrapper" data-gallery>
        <div class="frame" data-gallery-frame>
            <ul class="sonata-media-gallery-media-list clearfix" data-gallery-list>
               {% spaceless %}
                   {% for galleryHasMedia in gallery.GalleryHasMedias %}
                       <li class="sonata-media-gallery-media-item" data-gallery-item>
                            <a href="#" class="sonata-media-gallery-media-item-link" data-gallery-link>  {# {{ url('sonata_media_view', {'id': galleryHasMedia.media|sonata_urlsafeid }) }} #}
                                {% thumbnail galleryHasMedia.media, gallery.defaultFormat with {'class': 'media-object', 'data-image': 'media'} %}
                                {#<div class="media-bar clearfix">
                                    {% if galleryHasMedia.media.description != "" %}<p class="media-description">{{ galleryHasMedia.media.description|raw }}</p>{% endif %}
                                </div>#}
                                <div class="media-btn-group">
                                    {% spaceless %}
                                    {#<div class="media-btn media-btn--zoom">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>#}
                                    <div class="media-btn" data-close>
                                        <svg class="icon icon--cross"><use xlink:href="#svg-cross"></use></svg>
                                    </div>
                                    {% endspaceless %}
                                </div>
                                <div class="plus-icon" data-icon="plus"></div>
                            </a>
                        </li>
                   {% endfor %}
               {% endspaceless %}
            </ul>
        </div>

        <div class="imh__trigger">
            <a href="#" title="More pictures : {{ gallery.name }}">
                <img src="{{ asset('bundles/imhbase/images/empty.gif') }}" alt="" />
            </a>
        </div>

        {% if not isTouchDevice %}
            {% embed "ImhBaseBundle:Part:sidebar.html.twig" %}
                {% block menu_display %}
                    <a class="imh__navigation-menu-display" href="#" title="" data-navigation>
                        <i class="fa fa-angle-right fa-3x" aria-hidden="true"></i>
                    </a>
                {% endblock %}

            {% endembed %}
        {% endif %}
    </div>

    <i class="c-spinner c-spinner--white" aria-hidden="true"></i>

    <div class="row">
        <div class="col-md-24">
        <div class="imh__scrollbar" data-scrollbar>
            <div class="handle">
                <div class="mousearea"></div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block sidebar '' %}
{% block footer '' %}

{% block javascripts %}
    {{ parent() }}

    {#<script src="{{ asset('/assets/lib/infinite-scroll/behaviors/local.js') }}"></script>#}
    {#<script src="{{ asset('/assets/lib/infinite-scroll/behaviors/manual-trigger.js') }}"></script>#}
    {#<script src="{{ asset('/assets/lib/isotope/smartresize.js') }}"></script>#}

    {% javascripts output='assets/compiled/js/gallery.js'
    '@ImhBaseBundle/Resources/public/bower_components/sly/dist/sly.min.js'
    'assets/lib/infinite-scroll/jquery.infinite-scroll.js'
    'assets/lib/isotope/imagesloaded.pkgd.min.js'
    'assets/lib/isotope/pkgd.js'
    '@ApplicationSonataMediaBundle/Resources/assets/js/jquery.imh-gallery.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            'use strict';

            if (Modernizr.touchevents) {
                $("[data-menumobile]").data("plugin_imhMenuMobile").makeMenuVisible(); // Call public plugin method
            }

            // Social buttons
            $('.fbshare').click(function(e){
                postToShare($(this).attr('href'));
                e.preventDefault();
            });

            $('.popup').click(function(e) {
                var width  = 575,
                        height = 400,
                        left   = ($(window).width() - width)  / 2,
                        top    = ($(window).height() - height) / 2,
                        url    = this.href,
                        opts   = 'status=1' +
                                ',width='  + width  +
                                ',height=' + height +
                                ',top='    + top    +
                                ',left='   + left;

                window.open(url, 'twitter', opts);
                e.preventDefault();
            });
        });
    </script>
{% endblock %}
