<footer class="c-footer">
    <div class="container imh-container">
        <div class="col-xs-16 col-sm-7 col-md-7 hidden-xs c-footer__column">
            <div class="c-footer__site">
                <h3 class="c-footer__head">{{ 'imh.base.footer.site'|trans }}</h3>
                {{ knp_menu_render('main', {'rootClass': 'c-menu--display-footer', 'currentAsLink':false, 'allow_safe_labels': true}) }}
            </div>
        </div>
        <div class="col-xs-8 col-sm-4 col-md-3 hidden-xs c-footer__column">
            <div class="c-footer__language">
                <h3 class="c-footer__head">{{ 'imh.base.footer.language'|trans }}</h3>
                <nav class="c-lang c-lang--display-footer">
                    {% include 'ImhBaseBundle:Menu:lang.html.twig' %}
                </nav>
            </div>
        </div>
        <div class="col-xs-24 col-sm-9 col-md-7 hidden-xs c-footer__column c-footer__column--extraspace">
            <div class="c-footer__school">
                <h3 class="c-footer__head">{{ 'imh.base.footer.schools.title'|trans }}</h3>
                <ul class="c-footer__list">
                    <li>
                        <a class="c-footer__link" href="http://www.ecolenormalecortot.com/" title="{{ 'imh.base.footer.schools.enmp.title'|trans }}" target="_blank">{{ 'imh.base.footer.schools.enmp.text'|trans }}</a>
                    </li>
                    <li>
                        <a class="c-footer__link" href="http://www.conservatoirerachmaninoff.com" title="{{ 'imh.base.footer.schools.crsr.title'|trans }}" target="_blank">{{ 'imh.base.footer.schools.crsr.text'|trans }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 c-footer__column">
            <div class="c-footer__follow">
                <h3 class="c-footer__head">{{ 'imh.base.footer.follow.title'|trans }}</h3>
                <div class="c-footer__wrap">
                    {#<a href="" class="imh-footer__link imh-footer__link--social" title="{{ 'imh.base.footer.follow.fb'|trans }}" target="_blank">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="" class="imh-footer__link imh-footer__link--social" title="{{ 'imh.base.footer.follow.tw'|trans }}" target="_blank">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="https://plus.google.com/103289114690032171187/posts" class="imh-footer__link imh-footer__link--social" title="{{ 'imh.base.footer.follow.g+'|trans }}" target="_blank">
                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                    </a>#}
                    <a href="https://www.instagram.com/ionella.marinutsa/?hl=fr" class="c-footer__link c-footer__link--social" title="{{ 'imh.base.footer.follow.ig'|trans }}" target="_blank">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-4 hidden-sm c-footer__column c-footer__column--last">
            <div class="c-footer__powered">
                <h3 class="c-footer__head">{{ 'imh.base.footer.engine.title'|trans }}</h3>
                <div class="c-footer__wrap">
                    <a class="c-footer__link" href="http://symfony.com/" title="{{ 'imh.base.footer.engine.framework'|trans }}" target="_blank">
                        <svg class="icon icon--symfony"><use xlink:href="#svg-symfony"></use></svg>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-xs-24">
            <small class="c-footer__rights text-center"><span>&copy;</span> {{"now"|date('Y')}}. {{ 'imh.base.footer.copyright'|trans|raw }}</small>
        </div>
    </div>
</footer>