<div class="col-lg-16 col-lg-offset-4 imh-block-events">
    {#<div class="imh-block-events__calendar"></div>#}
    <ul class="imh-block-events__list">
        <li class="imh-block-events__item col-sm-12 col-lg-8">
            <div class="imh-block-events__wrap">
                <div class="imh-block-events__date">
                    <div class="imh-block-events__infos">
                        <p class="imh-block-events__month">Nov.</p>
                        <p class="imh-block-events__day">25</p>
                        <p class="imh-block-events__time">20H00</p>
                    </div>
                </div>
                <figure class="imh-block-events__figure">
                    <img class="imh-block-events__image" src="{{ asset('bundles/imhbase/images/events/eglise_lutherienne.jpg') }}" alt="Eglise Luthérienne">
                    <figcaption class="imh-block-events__figcaption">
                        <h3 class="imh-block-events__title">Église Luthérienne<br><span class="imh-block-events__title-emphased">de l'Ascension</span></h3>
                        <p class="imh-block-events__description">Concert de musique espagnole</p>
                        <p class="imh-block-events__description imh-block-events__description--small">
                            Anara Khassenova, soprano<br>
                            Lucia Bistritskaya, violoncelle<br>
                            Ionella Marinutsa, harpe<br>
                        </p>
                        <ul class="imh-block-events__composer-list">
                            <li class="imh-block-events__composer-item">Granados</li>
                            <li class="imh-block-events__composer-item">De Falla</li>
                            <li class="imh-block-events__composer-item">Debussy</li>
                        </ul>
                        {#<a class="imh-block-events__more" href="http://www.culture-sorbonne.fr/evenements/carte-blanche-aux-laureats-concours-jeunes-solistes-sorbonne-universites/" target="_blank">En savoir plus</a>#}
                    </figcaption>
                </figure>
            </div>
        </li>
        <li class="imh-block-events__item col-sm-12 col-lg-8">
            <div class="imh-block-events__wrap">
                <div class="imh-block-events__date">
                    <div class="imh-block-events__infos">
                        <p class="imh-block-events__month">Déc.</p>
                        <p class="imh-block-events__day">8</p>
                        <p class="imh-block-events__time">20H30</p>
                    </div>
                </div>
                <figure class="imh-block-events__figure">
                    {#<picture class="">
                        <source srcset="{{ asset('bundles/imhbase/images/ionella.jpg') }}" media="(min-width: 768px)" />
                        <img class="" srcset="{{ asset('bundles/imhbase/images/ionella@2x.jpg') }}" alt="Ionella Marinutsa" />
                    </picture>#}
                    <img class="imh-block-events__image" src="{{ asset('bundles/imhbase/images/events/luxembourg.jpg') }}" alt="Temple du Luxembourg">
                    <figcaption class="imh-block-events__figcaption">
                        <h3 class="imh-block-events__title">Temple<br><span class="imh-block-events__title-emphased">du Luxembourg</span></h3>
                        <p class="imh-block-events__description">Concert au profit de Parcours Association Enfants de Saint-Pétersbourg</p>
                        <p class="imh-block-events__description imh-block-events__description--small">
                            Ionella Marinutsa, harpe<br>
                            Lucia Bistritskaya, violoncelle<br>
                        </p>
                        <ul class="imh-block-events__composer-list">
                            <li class="imh-block-events__composer-item">Vivaldi</li>
                            <li class="imh-block-events__composer-item">Respigi</li>
                            <li class="imh-block-events__composer-item">Rachmaninov</li>
                            <li class="imh-block-events__composer-item">Fauré</li>
                            <li class="imh-block-events__composer-item">Tchaikovsky</li>
                            <li class="imh-block-events__composer-item">Glinka</li>
                        </ul>
                    </figcaption>
                </figure>
            </div>
        </li>
        <li class="imh-block-events__item col-sm-12 col-lg-8">
            <div class="imh-block-events__wrap">
                <div class="imh-block-events__date">
                    <div class="imh-block-events__infos">
                        <p class="imh-block-events__month">Déc.</p>
                        <p class="imh-block-events__day">18</p>
                        <p class="imh-block-events__time">20H00</p>
                    </div>
                </div>
                <figure class="imh-block-events__figure">
                    {#<picture class="">
                        <source srcset="{{ asset('bundles/imhbase/images/ionella.jpg') }}" media="(min-width: 768px)" />
                        <img class="" srcset="{{ asset('bundles/imhbase/images/ionella@2x.jpg') }}" alt="Ionella Marinutsa" />
                    </picture>#}
                    <img class="imh-block-events__image" src="{{ asset('bundles/imhbase/images/events/voyage.jpg') }}" alt="">
                    <figcaption class="imh-block-events__figcaption">
                        <h3 class="imh-block-events__title">Amphitéâtre du centre<br><span class="imh-block-events__title-emphased">Spirituel et culturel Russe</span></h3>
                        <p class="imh-block-events__description">Concert de musique de chambre
                            Voyage musical de Saint-Pétersbourg à Paris
                        </p>
                        <ul class="imh-block-events__composer-list">
                            <li class="imh-block-events__composer-item">Debussy</li>
                            <li class="imh-block-events__composer-item">Fauré</li>
                            <li class="imh-block-events__composer-item">Glinka</li>
                            <li class="imh-block-events__composer-item">Rachmaninov</li>
                        </ul>
                        <a class="imh-block-events__more" href="https://www.billetweb.fr/voyage-musical" target="_blank">En savoir plus</a>
                    </figcaption>
                </figure>
            </div>
        </li>
    </ul>
</div>